<ion-view view-title="planning">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="planning in planning" type="item-text-wrap" href="#/tab/planning/{{planning.id}}">
        <img ng-src="{{planning.face}}">
        <h2>{{planning.name}}</h2>
        <p>{{planning.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(planning)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
